@model IEnumerable<TMS.Models.Batch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoordinatorLayout.cshtml";
    int i = 1;
}

<h3 class="alert bg-primary text-center">Batches List</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Add New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary">
            <th>#.</th>
            <th>
                Course Name
            </th>
            <th>
                Batch ID
            </th>
            <th>
                Batch No
            </th>
            <th>
                Instructor Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (i % 2 == 0)
            {
                <tr class="danger">
                    <td>@i.</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instructor.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                    </td>
                </tr>
            }
            else
            {
                <tr class="warning">
                    <td>@i.</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instructor.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                    </td>
                </tr>
            }
            i++;
        }
    </tbody>
</table>
